go 1.24.1

use (
	./services/analytics-service
	./services/appointment-service
	./services/branch-service
	./services/customer-service
	./services/finance-service
	./services/marketing-service
	./services/staff-service
	./pkg/common
	./pkg/database
	./pkg/auth
	./api-gateway
)
